{% extends 'Basis/baseweb1.html'%}
{% load static %}

{% block inhoud2 %}
<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <br>
        <br>
        <br>
        <br>  
        <ol class ="font20B TxtCenter"> Beschikbaarheid </ol>
        <ol class="font8 TxtCenter"> <br>Agenda Barthkapel </ol>
    </div>
</div>


<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-3"><br> </div>

    <div class="col-8">  
        <ol> <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FBrussels&bgcolor=%23c7a11b&showCalendars=0&showTz=0&showTabs=0&showPrint=0&showTitle=0&src=MjhyN2QxcHJoanI3aDB1OXBmdXRzZG9hYzBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23D81B60" 
            style="border:solid 1px #c7a11b" width="500" height="500" frameborder="0" scrolling="no"></iframe>
            </iframe></ol>
        <ol class="font8 TxtCenter"> <br> </ol>
    </div>

    <div class="col-1"><br> </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
{% endblock %}

{% block footer %}  
{% endblock %}