{% extends 'baseweb.html' %}
{% load static %}

{% block inhoud2 %}

<div class = "container">
        <div class="img-container">      
                <img src="{%static 'img/paginas/BKBuiten1.jpg' %}" alt="">
            <div class = "img-text"> 
                <div class="font11">  
                    <br> <br>    
                        Achter elke gevel gaat een verhaal schuil en die verhalen zijn de moeite van het
                        vertellen waard.
                </div>
                <br>       <br>       <br> 
                <div class="font11">
                        Waarborgen van oorspronkelijke stedelijke bebouwing in Den Haag en 
                        het stimuleren van de diversiteit van het gebruik van die bebouwing. Dat 
                        is waar Stichting Behoud Waardevol Erfgoed voor staat.                    
                </div>
                <br> 
                <button id="buttonBK">Barthkapel Verhuur</button> 
            </div>
        </div>

<div class="row">  
    <div class="col-12">
    </div>
</div>
</div>
<!--EINDE SECTION-->

<script> 
    $('#buttonBK').on('click', function URL(){
    location.href = "/CC/verhuurBK.html"
    });
</script>

{% endblock %}