{% extends 'Basis/baseweb1.html'%}
{% load static %}


{% block inhoud2 %}

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <div class="img-container">      
            <img src="{%static 'img/paginas/500px BK_Lucht2.jpg' %}" alt="">
            <div class = "img-txt-stichting"> 
            </div>
        </div> 
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->

<div class="row">
    <div class="col-12"> 
        <div class ="font20B TxtCenter"> Geschiedenis SBWE </div>
        <br>
        <br>
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-6">
        <div class="">
            <ol> <img id="OverS" src="{% static 'img/Paginas/Simon3.jpg' %}" alt=""></ol>
            <ol class="font7"> <a href="/historie.html"> <em> Fotogalerie verleden </em>  </a> </ol>
        </div>
    </div>

    <div class="col-5">   
        <div class ="font8">
            <br> <br>
            <br> <br>
            Stichting Behoud Waardevol Erfgoed werd opgericht in 1992 door Simon Kamper. Hij had voor ogen panden van de
            <strong> ondergang </strong> te redden. Panden die gesloopt zouden worden waardoor de oorspronkelijke stedelijke bebouwing van het centrum
            van Den Haag in gevaar dreigde te komen. Het begon met de Barthkapel aan de Brouwersgracht en de oprichting van Emmaus aan de Prinsegracht. 
            Daarna volgde het Flora’s Hof aan de Lange Beestenmarkt. 
        </div>
    </div>

    <div class="col-1"></div>
</div>
<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">

    <div class="col"></div>

    <div class="col-6">   
        <div class ="font8 TxtCenter">
            <br> <br>
            <br> <br>
            De stichting tracht haar doel te verwezenlijken door de aankoop, <br> verbetering en beheer van woningen, atelierruimtes,
            kantoorruimtes en winkelpanden. <br>
            <br> <br>
            Het uitgangspunt is de huurders te betrekken bij het onderhoud <br> en eventuele renovatie van de panden 
            die zij in gebruik hebben. 
        </br></br>
    
        </div>
    </div>

    <div class="col-6">
        <div class="">
            <ol> <img id="OverS" src="{% static 'img/Paginas/Simon3.jpg' %}" alt=""></ol>
        </div>
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-6">
        <div class="">
            <ol> <img id="OverS" src="{% static 'img/Paginas/Simon3.jpg' %}" alt=""></ol>
        </div>
    </div>

    <div class="col-5">   
        <div class ="font8 TxtCenter">
            <br> <br>
            <br> <br>
            Het Den Haag zoals wij het nu kennen zou er anders hebben uitgezien zonder het werk van de Stichting Behoud Waardevol Erfgoed 
            en de inzet van Simon Kamper in het bijzonder. Kijk bijvoorbeeld eens op de Prinsegracht naar het stuk tussen de Lange Beestenmarkt 
            en de Brouwersgracht: een aaneengesloten rij historische panden met daarachter de Barthkapel en de bijbehorende kloostertuin. 
            Een stuk erfgoed van groot historisch belang. En om de hoek de Lange Beestenmarkt: de hele gevelrij vanaf de Hamerstraat links tot de Lepelstraat rechts,
            inclusief het Flora’s hofje. Deze stadsgezichten zouden niet meer bestaan als de sloop en nieuwbouwplannen van de Gemeente Den Haag niet langdurig en 
            vasthoudend gedwarsboomd zouden zijn.
        </br></br>
            Op 4 oktober 2019 is Simon Kamper overleden. Hij was toen al enige jaren niet meer actief betrokken bij de stichting, 
            maar volgde de stedelijke ontwikkeling in het oude centrum van Den Haag vol kritische belangstelling.
        </br></br>
        </div>
    </div>

    <div class="col-1"></div>
</div>

<!---------------------------------------------------------------------------------------------------------------------->
{% endblock %}

{% block txt %}
Over SBWE
{% endblock %}
<!--------------------------------------------------------------------------------------------------------------------- -->