{% extends 'Basis/baseweb1.html'%}
{% load static %}

{% block subtitel %}
Barthkapel verhuur
{% endblock %}

{% block inhoud2 %}
<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <br>
        <br>
        <br>
        <br>  
        <H2 class ="font20B TxtCenter"> Barthkapel verhuur </H2>
       
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12">   
        <div class="afbBK">  
            <br>
            <br>
            <br>
            <img id="OverBK" src="{% static 'img\BK\BK1.jpg' %}" alt="">
            <img id="OverBK" src="{% static 'img\BK\BK2.jpg' %}" alt="">
            <img id="OverBK" src="{% static 'img\BK\BK3.jpg' %}" alt="">
            <img id="OverBK" src="{% static 'img\BK\BK4.jpg' %}" alt="">
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------- -->

<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12">   
        <div class="afbBK">  
            <br>
            <br>
            <br>
            <img id="OverBK" src="{% static 'img\BK\BK1.jpg' %}" alt="">
            <img id="OverBK" src="{% static 'img\BK\BK2.jpg' %}" alt="">
            <img id="OverBK" src="{% static 'img\BK\BK3.jpg' %}" alt="">
            <img id="OverBK" src="{% static 'img\BK\BK4.jpg' %}" alt="">
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------- -->

<div class="row">
    <div class="col-12">
        <div class="TxtCenter" >
            <p> <strong> Stichting Behoud Waardevol Erfgoed </strong> verhuurt een authentieke kapel in het centrum van de stad. 
                De Barthkapel is te huur voor: Concerten, optredens, yogalessen, exposities, balletlessen, lezingen, kerkdiensten, workshops, vergaderingen,
                recepties, boekpresentaties etc.
                Huurders die op regelmatige basis (bijv. een ochtend in de week) willen huren, zijn ook van harte welkom. 
                Verstrekte muziek is niet toegestaan. <br> <br>    
            </p>

            <p> <strong> Gegevens kapel: </strong> 
                <ul>
                    <li> afmeting: +/- 100 m2 </li>
                    <li> aantal stoelen: 80 </li>
                    <li> twee lange tafels en twee statafels </li>
                    <li> ruime keuken met inventaris en koelkast </li>
                </ul>
            </p><br>
        </div>
        <div> 
            <strong> Prijzen per 1 september 2023: </strong><br> <br>
            37,50 per uur. 
            <ul>
                <li>Korting voor studenten van het Koninklijk Conservatorium / KABK</li>
            </ul>
            <br> <br>
           <strong> Adres:  </strong>  <br>
           <ul>
                <li> Brouwersgracht 2K Den Haag <br>
                    <p class="font20"> (bereikbaar vanaf de Brouwersgracht via de smalle steeg die naar de kloostertuin en de kapel leidt)
                    </p>
                </li>
           </ul>
            <br> <br> 
            <strong> Voor meer informatie en verhuur, mail naar:  </strong> <br>
            <ul>
                 <li>  <em>Stichtingbwe@gmail.com</em> of klik op:</li>
                 <li> <a href="/CC/reserveringBK.html"> Ruimte reserveren </a> </li>
                 <li> <a href="/CC/voorwaardenBK.html"> Annuleringsvoorwaarden </a> </li>
            </ul>
            <br> <br> 
            <strong> Voor een impressie van de Barthkapel: </strong> <br>
            <ul>
                 <li>  <a href="/CC/impressieBK.html"> <strong>  Violiste Jasmijn Burger </strong> </a> </li>
            </ul>
        </div> 
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------- -->

{% endblock %}



{% block footer %}
{% endblock %}
