{% extends 'basis/baseweb1.html'%}
{% load static %}

{% block subtitel %}

{% endblock %}

{% block inhoud2 %}
<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <div class="img-container">      
            <img src="{%static 'img/paginas/BKBuiten2.jpg' %}" alt="">
            <div class = "img-text2"> 
                <div class="font20B">  
                </div>
            </div>
        </div> 
    </div>
</div>


<!--------------------------------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <br>  
        <div class ="font20B TxtCenter"> Voorwaarden voor verhuur </div>
    </div>
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->

<div class="row">
    <div class="col-1"></div> 
    <div class="col-10"> 
        <ol class ="font14 TxtCenter"> <br> </ol>
        <ol class ="font13">  Activiteiten moeten passen binnen de culturele doelstellingen van het Cultureel Centrum Barthkapel.</ol>
        <ol class ="font10"> 
            <ul>
                <li> Ruimtes moeten veegschoon worden achtergelaten.</li>
                <li> Vaatwerk en keuken moeten schoon worden achtergelaten.</li>
                <li> Verhuurtijden in overleg, maar tot maximaal 23.00 uur.</li>
                <li> Factuur wordt achteraf per e-mail verstuurd.</li>
                <li> Het gebruik van elektrische en/of versterkte muziek is niet toegestaan.</li>
            </ul>
        </ol>
        <ol class ="font20B TxtCenter"> </ol>
        <ol class ="font13">   Annuleringsvoorwaarden</ol>
        <ol class ="font10"> 
            <ul>
                <li> Annuleren kan kosteloos tot 7 dagen voor de reservering of eerste verhuurdag.</li>
                <li> Bij annuleren vanaf 7 dagen tot en met 3 dagen voor de reservering of eerste verhuurdag wordt 50% van de verhuurprijs in rekening gebracht.</li>
                <li> Bij annuleren op de 2e of de 1e dag voor de reservering of eerste verhuurdag of op de dag zelf wordt het volledige verhuurbedrag in rekening gebracht.</li>
            </ul>
        </ol>
        <ol class ="font20B TxtCenter"> </ol>
        <ol class ="font20B TxtCenter"> </ol>
        <ol class ="font13">De Stichting Behoud Waardevol Erfgoed is niet aansprakelijk voor diefstal of schade aan eigendommen van huurders of bezoekers.</ol>  
    </div>
    <div class="col-1"></div> 
</div>

<!--------------------------------------------------------------------------------------------------------------------- -->

{% endblock %}

<!--------------------------------------------------------------------------------------------------------------------- -->
{% block txt %}
Voorwaarden bij annulering
{% endblock %}



