.post{
    border-radius: 3%;
    background-color: #c7a11b;
    width: 60%;
    margin-left:25%;
    margin-top:5%;
    border: solid 2px #00151be1;
    text-decoration: none;
    text-align: center;}

a{
    text-decoration: none;}

.postInh{
    border-radius: 3%;
    background-color: hsl(195, 43%, 51%);
    width: 60%;
    margin-left:25%;
    margin-top:5%;
    border: solid 2px #00151be1;}

#posttitel1{
    color:#00151be1;
    text-align: center;
    font-size: 20px;
}

#posttitel2{
    color:#00151be1;
    text-align: center;
    font-size: 20px;
}

#posttext2{
    color:#00151be1;
    text-align: center;
    font-size: 20px;
}
.date{
    font-size:20px;
    color: white;
}

/*     
box-shadow: 10px 10px hsl(47, 48%, 53%);

*/