{% extends 'baseweb.html' %}
{% load static %}


{% block inhoud2 %}
<div class="container">
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="row"> 
    <div class="col-4"> 
        <figure>
            <a href="barthkapel.html"> <img src="{% static 'img/Panden/Barthkapel_400_Hoog.jpg' %}"  alt=""> </a> <br>
            <figcaption class="font color"> Barthkapel <br> 
                <div class="font8"> Brouwersgracht 2K <br> 2512 GA Den Haag</div>
            </figcaption>
        </figure>
    </div>

    <div class="col-4"> 
            <figure>
                <a href="looyerstr.html"> <img src="{% static 'img/Panden/Pakhuis_400_Hoog.jpg' %}" alt="Looyer"> </a> <br>
                <figcaption class="font color"> Pakhuis Rembrandt <br> 
                    <div class="font8"> Rembrandtstraat 2B <br> ..... .. Den Haag</div>
                </figcaption>
            </figure>
    </div>   

    <div class="col-4"> 
            <figure>
                <a href=""> <img src="{%  static 'img/Panden/Barthkapel_400_Hoog.jpg' %}" alt="Barthkapel3"> </a> <br>
                <figcaption class="font color"> Pakhuis Looyer <br> 
                    <div class="font8"> Looyerstraat 70 <br> 2512 GA Den Haag</div>
                </figcaption>
            </figure>
    </div>
</div>

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="row"> 
    <div class="col-12"></div>
</div>

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="row"> 
    <div class="col-12"></div>
</div>

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="row"> 
    <div class="col-12"></div>
</div>

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="row"> 
  
    <div class="col-4"> 
        <figure>
            <a href="barthkapel.html"> <img width="100%" src="{% static 'img/Panden/Barthkapel_400_Hoog.jpg' %}"  alt=""> </a> <br>
            <figcaption class="font color"> Prinsegracht 40 <br> 
                <div class="font8"> Prinsegracht 40  <br> 2512 GA Den Haag</div>
            </figcaption>
        </figure>
    </div>

    <div class="col-4"> 
            <figure>
                <a href="looyerstr.html"> <img width="100%" src="{% static 'img/Panden/Pakhuis_400_Hoog.jpg' %}" alt="Looyer"> </a> <br>
                <figcaption class="font color"> Paardenstal <br> 
                    <div class="font8"> Lepelstraat 9 <br> ............... Den Haag</div>
                </figcaption>
            </figure>
    </div>   

    <div class="col-4"> 
            <figure>
                <a href=""> <img width="100%" src="{%  static 'img/Panden/Barthkapel_400_Hoog.jpg' %}" alt="Barthkapel3"> </a> <br>
                <figcaption class="font color"> Tuinhuis <br> 
                    <div class="font8"> Looyerstraat 70 <br> ............... Den Haag</div>
                </figcaption>
            </figure>
    </div>

</div>

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="row"> 
    <div class="col-12"></div>
</div>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------->
</div>
{% endblock %}