<!DOCTYPE html>
<html lang="nl">
<!---------------------------------- BASIS: HEADER EN FOOTER NIET GEFIXED ------------------------------------------------------------------- -->
    <head>
        <title> Stichting Behoud Waardevol Erfgoed</title>
        <meta charset = "utf-8">

        {% load static %}
        <!-- Style CSS--> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/basewebLaptop.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/basewebMobile.css' %}">

        <!-- MediaQuery . viewport  (browser weet nu op welke breedte het moet worden afgebeeld)-->
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
 
        <!-- Javascript           <script src="/static/js/jquery.js"></script>-->
        <script src=" {% static 'js/jquery.js' %} "></script>
        <script src=" {% static 'js/jquery.min.js' %} "></script>


        <!-- Javascript / Ajax     <script src="{% static 'js/jquery-ui.js' %}"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- Javascript: Timepicker -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
        
        <!-- nodig voor de bkagenda - jqeury's in post en blogs-->
        {% block head %}

        {% endblock %}  

    </head>

    <body>
<!---------------------------------- ------------------------------------------------------------------------------------------------------------>

<!-----------------------------------MENU: LAPTOP & DESKTOP VERSIE-------------------------------------------------------------------------------> 

    <header class = "row">
        <div class="col-12 menuboven">  
         
            <div class= "menu1-menu-container font10">
                <ul id = "menu-menu" class="menu">
                    <li> <a href="/home.html">Home</a> </li> 
                    <li id="dropdown"> <a href="/CC/verhuurBK.html">Barthkapel</a>
                    <li> <a href="/panden/panden.html" > Panden </a></li> 
                    <li>  <a href="/overSBWE.html"> SBWE</a></li> 
                    <li>  <a href="/contact.html">Contact</a></li>
                </ul>
            </div>
     
        </div>
    </header>   

<!-----------------------------------MENU: MOBILE VERSIE NIEUW-------------------------------------------------------------------------------> 


    <header class = "row">
        <div class="col-12 menuboven4">  
            <div class= "menu4-menu-container font10">
                <ul id = "menu4-menu" class="menu4">
                    <li id="dropdown4"> <a href="/CC/verhuurBK.html">Home</a>
                        <ul  class="menu4-menu2">
                            <li> <a href="/CC/verhuurBK.html">Barthkapel</a> </li>
                            <li> <a href="/panden/panden.html" > Panden </a></li> 
                            <li>  <a href="/overSBWE.html"> SBWE</a></li> 
                            <li>  <a href="/contact.html">Contact</a></li>
                        </ul> 
                    </li>
                </ul>
            </div>
        </div>
    </header>   

 
<!--------------------------------------------------------------------------------------------------------------------------------------------->


    <section>
            {% block inhoud2 %}
            {% endblock %}

            {% block inhoud3 %}
<!--------------------------------------------------------------------------------------------------------------------------------------------->
            <div class = "row">
                <div class="col-12">   
                    <div class="Ptitel font20B">
                    {% block txt %}
                        ..
                    {% endblock %}
                    </div>
                </div> 
            </div> 

<!--------------------------------------------------------------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------------------------------------->
            <div class = "row">
                <div class="col-12">   
                    <div> <button class ="btnSBWE"> SBWE LOGO </button> </div>
                </div> 
            </div> 

<!--------------------------------------------------------------------------------------------------------------------------------------------->
            <div class = "row">
                <div class="col-1">   
                    <br>
                </div> 

                <div class="col-4">       
                    <p> stichting behoud waardevol erfgoed 2024</p> 
                </div> 

                <div class="col-1"> 
                    <a href="https://www.instagram.com/barthkapeldenhaag/" target ="_blank"> <img src="{%static 'img/Logo_Inst.jpeg' %}" alt="">   </a>      
                </div> 

                <div class="col-1">     
                    <a href="https://www.facebook.com/profile.php?id=100007865958510" target="_blank"> <img src="{%static 'img/Logo_Face.jpeg' %}" alt="">   </a>  
                </div> 
              
                <div class="col-2"> 
                   <br>
                </div>

                <div class="col-2"> 
                    <p> stichtingbwe@gmail.com</p> 
                </div>

                <div class="col-1"> 
                    <br>
                </div>
        
            </div> 
           
            {% endblock %}

    </section>

<!---------------------------------- ----------------------------------------------------------------------------------------------------- -->
</body>
</html>
