<!--BASIS met geen foto -->
<!DOCTYPE html>
<html lang="nl">

    <head>
        <title> Stichting Behoud Waardevol Erfgoed</title>
        <meta charset = "utf-8">

        {% load static %}
        <!-- Style CSS--> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/basewebLaptop2.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/basewebMobile.css' %}">

        <!-- MediaQuery . viewport  (browser weet nu op welke breedte het moet worden afgebeeld)-->
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
 
        <!-- Javascript           <script src="/static/js/jquery.js"></script>-->
        <script src=" {% static 'js/jquery.js' %} "></script>
        <script src=" {% static 'js/jquery.min.js' %} "></script>


        <!-- Javascript / Ajax     <script src="{% static 'js/jquery-ui.js' %}"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <header>
        <div class = "row">
            <div class="col-12">
                <!--<p class="font"> Stichting Behoud Waardevol Erfgoed </p> -->
                <p class="font18">
                {% block subtitel %}
                 Home </p>
                {% endblock %}
            </div>
        </div>

        <div class = "row">
            <div class="col-12" id="menuboven">          
                <div class= "menu1-menu-container">
                    <ul id = "menu-menu" class="menu">
                        <li> <a href="/home.html">Home</a> </li> 
                        <li id="dropdown"> <a href="/CC/verhuurBK.html">Barthkapel</a>
                            <ul  class="menu2-menu">
                                <li> <a href="/CC/reserveringBK.html"> Reservering </a> </li>
                                <li> <a href="/CC/beschikbaarheid.html"> Beschikbaarheid </a> </li>
                                <li> <a href="/bkagenda/post_list.html"> Programma </a> </li>
                            </ul> </li>
                        <li> <a href="/panden/panden.html" > Panden </a></li> 
                        <li> <a href="/atelier.html" > Atelier </a></li>
                    </ul>
                </div>
            </div>
        </div>
        </header>

        <section class="row"> <!--START ROW-->
            <!--Linkerdeel 20%-->
            <div class = "col-12">                         
                <div>
                    {% block inhoud1 %}
                    {% endblock %}
                </div>
            </div>
        </section>

        <section>
                {% block inhoud2 %}
                {% endblock %}
        </section>

        <footer>   
            <div class = "row">
                <div class="col-12" id="menuonder">
                    <div class= "menu3-menu-container">
                        <ul id = "menu3-menu">
                            <li>  <a href="/overSBWE.html"> OverSBWE</a></li> 
                            <li>  <a href="/contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
                    <p> @ Copyright 2024 -- SBWE</p>
        </footer>

</body>
</html>




 

