{% extends 'basis/baseweb1.html' %}
{% load static %}


{% block inhoud2 %}


<!--------------------- <div class="img-container"> --     </div> ---------------------------------------------------------------------------------------------- -->
<div class="row">
    <div class="col-12"> 
        <div class="img-container-home">
            <img src="{% static 'img/Paginas/BKBuiten2.jpg' %}" alt="header-home">
            <div class = "img-txt-home"> 
                <div class="font-12">  
                    <br> <br>   <br> <br>  <br> <br> 
                        Achter elke gevel gaat een verhaal schuil en die verhalen zijn de moeite van het
                        vertellen waard.
                </div>
                <br>       <br>       <br> 
                <div class="font-12">
                        Waarborgen van oorspronkelijke stedelijke bebouwing in Den Haag en 
                        het stimuleren van de diversiteit van het gebruik van die bebouwing. Dat 
                        is waar Stichting Behoud Waardevol Erfgoed voor staat.                    
                </div>
                <br> <br>       <br>       <br> 
                <button id="buttonBK">Barthkapel Verhuur</button> 
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------- -->

<script src="{% static 'js/Buttons.js' %}" type=”text/javascript></script>

{% endblock %}

{% block txt %}
{% endblock %}
<!--------------------------------------------------------------------------------------------------------------------- -->

